body, #root,.App{
  min-height: 100vh;
}

.App {
  text-align: center;
  background-color: rgb(251, 237, 218);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: #282c34;
  color: white;
  font-size: 3rem;
  padding: 10px 0;
  position: relative;
}

strong {
  color:#fa8072;
  text-shadow: 0 0 2px #fff, -2px 0 #fff
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.score {
  position: relative;
  color: white;
  text-shadow: 0 0 5px #000;
  z-index: 2;
  top: -70px;
  right: calc(-30px - 0.1vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.placeholder, .card, .card img {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  cursor: pointer;

}

.placeholder{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  background: #282c34;
}

.card{
  margin: 30px;
  padding: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card img {
  animation: fadeIn 1s linear;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 